/*==style cơ bản cho website==*/
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color:#333;
    line-height: 1.25;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:#3b8bba;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
a:hover, a:visited {
    color: #265778;
}
/*==chia cột website==*/
#container {
    padding-left: 150px;
    position: relative;
    left:0;
    width: 100%;
}
#menu {
    position: fixed;
    height: 100%;
    background-color: #111111;
    left:0;
    width: 150px;
}
/*==menu==*/
#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#menu ul li {
    line-height: 50px;
    height: 50px;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
}
#menu ul li a {
    display: block;
    padding: 0 1em;
    border-bottom: 1px solid #fff;
}
#menu ul li:hover {
    background-color: white;
}
/*==content==*/
#content {
    padding: 1em 8em;
}
#header, .call-to-action {
    text-align: center;
}
#logo > img {
    width: 500px;
    height: 200px;
}
#slogan {
    font-size: 0.8em;
    color: gray;
}
.call-to-action {
    padding: 1em 20%;
    background-color: gray;
    border: 1px solid black;
}
/*==row==*/
.row {
    overflow: hidden;
    margin: 1.5em auto;
}
.row .col {
    float: left;
    width: 32%;
    margin: .5%;
    padding: .5%;
}
#box3 {
    float: right;
    margin-right: 0;
}
.row .col img {
    float: left;
}
/*==footer==*/
#footer {
    text-align: right;
}
.col > img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
}